<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Hangman/src/main/java/org/whatsoftwarecando/hangman/HangmanHelper.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.whatsoftwarecando.hangman.HangmanHelper"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Hangman"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="word_list_german_uppercase_spell_checked.txt abcdefghijklmnopqrstuvwxyzßäöü"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hangman"/>
</launchConfiguration>
